# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Build artifacts
build/
dist/
*.spec

# Executables
*.exe
*.dll

# IDE/editor
.vscode/
.idea/
*.log

# OS files
Thumbs.db
.DS_Store
